<%= display_error %>

<div class="well" style="max-width:500px; margin-left: auto; margin-right:auto; ">
  <form method="post" action="/session">
    <div class="form-group">
      <label>Email:</label>
      <input type="text" class="form-control" name="email">
    </div>

    <div class="form-group">
      <label for="">Password:</label>
      <input type="password" class="form-control" name="password"></br>
      <div class="form-group btn-login">
      	<button type="submit" class="btn btn-default btn-form">Login</button>
    	</div>
    </div>
  </form>
</div>

