<%= display_error %>

<div class="login-form">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <form method="post" action="/users">
          <div class="form-group">
            <label>Email:</label>
              <input type="email" class="form-control" name="email" autofocus required>
          </div>
          <div class="form-group">
            <label for="">Password:</label>
              <input type="password" class="form-control" name="password" required>
          </div>

          <div class="form-group">
            <label for="">Verify Password:</label>
              <input type="password" class="form-control" name="password_confirmation" required>
          </div>

          <div class="form-group btn-login">
            <button type="submit" class="btn btn-submit">Sign-up</button>
          </div>

        </form>
      </div>
    </div>
  </div>