<% if @user && @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong><center>The user could not be saved. Please try again.</center></strong>
    <ul>
      <% @user.errors.full_messages.each do |user| %>
        <li><%= user %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well" style="max-width:500px; margin-left: auto; margin-right:auto;">

	<form method="post" action="/users">
	  <div class="form-group">
	    <label>Email:</label>
	    <input type="email" class="form-control" name="email" value="<%= @user.email %>" autofocus required>
	  </div>
	  
	  <div class="form-group">
	    <label for="">Password:</label>
	    <input type="password" class="form-control" name="password" value="<%= @user.password %>" required>
	  </div>

	  <div class="form-group">
	    <label for="">Verify Password:</label>
	    <input type="password" class="form-control" name="password_confirmation" value="<%= @user.password_confirmation %>" required>
	  </div>

	  <div class="form-group btn-login">
	    <button type="submit" class="btn btn-default btn-form">Sign-up</button>
	  </div>

	</form>
</div>
