<div class="login-form col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <form method="post" action="/users">
          <% if @message %>
            <div class="error-messages">
              <h2>Form is invalid. Please check the error messages below:</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                  <li><%= messages %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label>Email:</label>
              <input type="text" class="form-control" name="email">
          </div>

          <div class="form-group">
            <label for="">Password:</label>
              <input type="password" class="form-control" name="password">
          </div>

          <div class="form-group">
            <label for="">Verify Password:</label>
              <input type="password" class="form-control" name="password_confirmation">
          </div>

          <div class="form-group btn-login">
            <button type="submit" class="btn btn-default btn-submit">Sign-up</button>
          </div>

        </form>
      </div>
    </div>
  </div>