<div class="alert alert-danger" role="alert">
<strong><center>Rating Failed</center></strong>
<ul>
<% errors.each do |attr, error_msg| %>
  <li><%= attr %>: <%= error_msg.join(", ") %></li>
<% end %>
</ul>
</div>