<div class="well">
	<form method="post" action="/landlords/<%=params[:id]%>/addresses">

		<input style="display: none;" type="text" name="landlord_id" value="<%=params[:id]%>">

		<div class="form-group">
			<label style="color: black;">Unit Number:</label></br>
			<input type="text" class="form-control" name="unit_number">
		</div>

		<div class="form-group">
			<label style="color: black;">Street Number:</label></br>
			<input type="text" class="form-control" name="street_number">
		</div>

		<div class="form-group">
			<label style="color: black;">Street Name:</label></br>
			<input type="text" class="form-control" name="street_name">
		</div>

		<div class="form-group">
			<label style="color: black;">City:</label></br>
			<input type="text" class="form-control" name="city">
			<br/>
		</div>
	</form>
</div>

		