<div class="login-form">
  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
    
			<form method="post" action="/landlords/">
        <div class="form-group">
					<label>Landlord Name:</label>
					<input type="text" class="form-control" name="full_name" autofocus required>
				</div>
				<div class="form-group">
					<label>Unit Number:</label>
					<input type="text" class="form-control" name="unit_number" maxlength="8">
				</div>
				<div class="form-group">
					<label>Street Number:</label>
					<input type="text" class="form-control" name="street_number" maxlength="8" required>
				</div>
				<div class="form-group">
					<label>Street Name:</label>
					<input type="text" class="form-control" name="street_name" required>
				</div>
				<div class="form-group">
					<label>City:</label>
					<input type="text" class="form-control" name="city" required>
				</div>
				<hr />
				<!-- Load partial -->
				<%= erb :'/ratings/_form_partial' %>

			  <button type="submit" class="btn btn-submit">Add Landlord</button>
			</form>
		</div>
	</div>
</div>