<div>
	<h2>
		<strong>
			New Landlord Address
		</strong>
	</h2>

	<form method="post" action="/landlords/">
		Landlord Name: </br>
		<input type="text" name="full_name">
		<br/>
		Unit Number:</br>
		<input type="text" name="unit_number">
		<br/>		
		Street Number:</br>
		<input type="text" name="street_number">
		<br/>
		Street Name:</br>
		<input type="text" name="street_name">
		<br/>
		City:</br>
		<input type="text" name="city">
		<br/><br/>

		<p>Communication:</p>
		<input id="communication" name="communication" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
		<script type="javascript">$("#communication").rating();</script>
		<p>Reliability:</p>
		<input id="reliability" name="reliability" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
		<script type="javascript">$("#communication").rating();</script>
		<p>Helpfulness:</p>
		<input id="helpfulness" name="helpfulness" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
		<script type="javascript">$("#communication").rating();</script>

		<p>Would you have a beer with your landlord?</p>
		
		<img src="/images/empty-beer-icon.png" data-swap="/images/beer-icon.png" id="bg" style="width: 10%; height: 10%"/> </br>
		<script>
			$(function() {
 				$('#bg').click(function(){
 					var current_src = $(this).attr("src");
 					var swap_src = $(this).attr("data-swap");
 					$(this).attr("src", swap_src).attr("data-swap", current_src);
 					if($(this).attr("src") == "/images/beer-icon.png") {
 						$("#friendly").val(true);
 					}
 					else {
 						$("#friendly").val(false);
 					}
 				});
			});
		</script>
		<input type="hidden" value="friendly" id="friendly" name="friendly"/>

		<input type="text" class="form-control" id="comment"/>

		<input type="submit" value="Add">
	</form>
</div>