<h1>Here goes the new landlord profile form!</h1>

<div>
<h2><strong>New Landlord Address</strong></h2>
	<form method="post" action="/landlords/">

		Landlord Name: </br>
		<input type="text" name="full_name">
		<br/>

		Unit Number:</br>
		<input type="text" name="unit_number">
		<br/>
		
		Street Number:</br>
		<input type="text" name="street_number">
		<br/>
		
		Street Name:</br>
		<input type="text" name="street_name">
		<br/>
		
		City:</br>
		<input type="text" name="city">
		<br/><br/>
	
		<input type="submit" value="Add">

	</form>
</div>